/* Pura page center me lane ke liye */

.login-page{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    background:#f5f7fb;

}


/* White Login Card */

.login-container{

    width:400px;

    background:white;

    padding:40px;

    border-radius:12px;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

}


/* Heading */

.login-container h2{

    text-align:center;

    margin-bottom:10px;

}


/* Paragraph */

.login-container p{

    text-align:center;

    color:gray;

    margin-bottom:30px;

}


/* Input ke upar thoda gap */

.input-group{

    margin-bottom:20px;

}


/* Label */

.input-group label{

    display:block;

    margin-bottom:8px;

}


/* Input Design */

.input-group input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;

}


/* Jab input par click kare */

.input-group input:focus{

    border-color:#2563eb;

}


/* Login Button */

button{

    width:100%;

    padding:12px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}


/* Hover Effect */

button:hover{

    background:#1d4ed8;

}