.register-page{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    background:#f5f7fb;

}

.register-container{

    width:420px;

    background:white;

    padding:40px;

    border-radius:10px;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.register-container h2{

    text-align:center;

}

.register-container p{

    text-align:center;

    color:gray;

    margin:15px 0 30px;

}

.input-group{

    margin-bottom:18px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

}

.input-group input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;

    box-sizing:border-box;

}

.input-group input:focus{

    border-color:#2563eb;

}

.show-password{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:20px;

}

.error{

    color:red;

    margin-bottom:15px;

}

button{

    width:100%;

    padding:12px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#1d4ed8;

}