.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-box{
    width:380px;
    background:white;
    border-radius:18px;
    padding:30px;
    text-align:center;
    box-shadow:0 20px 50px rgba(0,0,0,.2);
    animation:popup .25s ease;
}

.modal-box h2{
    color:#ef4444;
    margin-bottom:15px;
}

.modal-box p{
    color:#64748b;
    margin-bottom:25px;
}

.modal-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
}

.cancel-btn,
.confirm-btn{
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
}

.cancel-btn{
    background:#e5e7eb;
}

.confirm-btn{
    background:#ef4444;
    color:white;
}

.confirm-btn:hover{
    background:#dc2626;
}

@keyframes popup{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}