.works{

    padding:80px;

    text-align:center;

}

.works h2{

    font-size:40px;

}

.works p{

    color:#666;

    margin-top:15px;

}

.steps{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-top:60px;

    flex-wrap:wrap;

}

.step-card{

    width:260px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.step-card:hover{

    transform:translateY(-10px);

}

.step-number{

    width:70px;

    height:70px;

    margin:auto;

    background:#2563eb;

    color:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:25px;

    font-weight:bold;

}

.step-card h3{

    margin-top:20px;

    margin-bottom:15px;

}

.step-card p{

    line-height:1.6;

}