.testimonials{

    padding:90px 80px;

    background:#f8f9fc;

    text-align:center;

}

.testimonials h2{

    font-size:40px;

    margin-bottom:50px;

}

.testimonial-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.testimonial-card{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.testimonial-card h3{

    color:#2563eb;

}

.testimonial-card h4{

    color:#777;

    margin:10px 0;

    font-weight:normal;

}

.testimonial-card p{

    line-height:1.7;

}